In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
baseDP = pd.read_csv("C:/Users/conta/Desktop/Projeto-Dash-PY-JS/BaseDPEvolucaoMensalCisp.csv", sep=";", encoding='Latin1')
populacao_munic_IBGE = pd.read_csv('populacao_munic.csv', sep=';', encoding='Latin1')

In [4]:
baseDP.isna().sum()

cisp                         0
mes                          0
ano                          0
mes_ano                      0
aisp                         0
                            ..
encontro_ossada              0
pol_militares_mortos_serv    0
pol_civis_mortos_serv        0
registro_ocorrencias         0
fase                         0
Length: 63, dtype: int64

In [5]:
baseDP.isna().sum()

cisp                         0
mes                          0
ano                          0
mes_ano                      0
aisp                         0
                            ..
encontro_ossada              0
pol_militares_mortos_serv    0
pol_civis_mortos_serv        0
registro_ocorrencias         0
fase                         0
Length: 63, dtype: int64

In [6]:
baseDP.head(10)

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
5,9,1,2003,2003m01,2,1,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,36,3,0,0,0,0,554,3
6,10,1,2003,2003m01,2,1,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,40,2,3,0,0,0,593,3
7,12,1,2003,2003m01,19,1,Rio de Janeiro,3304557,Capital,2,...,NaN,NaN,48,3,0,0,0,0,620,3
8,13,1,2003,2003m01,19,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,26,1,0,0,0,0,455,3
9,14,1,2003,2003m01,23,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,43,2,2,0,0,0,636,3

In [59]:
baseDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35670 entries, 0 to 35669
Data columns (total 65 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cisp                        35670 non-null  int64
 1   mes                         35670 non-null  int64
 2   ano                         35670 non-null  datetime64[ns]
 3   mes_ano                     35670 non-null  datetime64[ns]
 4   aisp                        35670 non-null  int64
 5   risp                        35670 non-null  int64
 6   munic                       35670 non-null  object
 7   mcirc                       35670 non-null  int64
 8   regiao                      35670 non-null  object
 9   hom_doloso                  35670 non-null  int64
 10  lesao_corp_morte            35670 non-null  int64
 11  latrocinio                  35670 non-null  int64
 12  cvli                        35670 non-null  int64
 13  hom_por_interv_policial     35670 non-null  int64
 14  letalidade_violenta         35670 non-null  int64
 15  tentat_hom                  35670 non-null  int64
 16  lesao_corp_dolosa           35670 non-null  int64
 17  estupro                     35670 non-null  int64
 18  hom_culposo                 35670 non-null  int64
 19  lesao_corp_culposa          35670 non-null  int64
 20  roubo_transeunte            35670 non-null  int64
 21  roubo_celular               35670 non-null  int64
 22  roubo_em_coletivo           35670 non-null  int64
 23  roubo_rua                   35670 non-null  int64
 24  roubo_veiculo               35670 non-null  int64
 25  roubo_carga                 35670 non-null  int64
 26  roubo_comercio              35670 non-null  int64
 27  roubo_residencia            35670 non-null  int64
 28  roubo_banco                 35670 non-null  int64
 29  roubo_cx_eletronico         35651 non-null  float64
 30  roubo_conducao_saque        35670 non-null  int64
 31  roubo_apos_saque            35670 non-null  int64
 32  roubo_bicicleta             18281 non-null  float64
 33  outros_roubos               35670 non-null  int64
 34  total_roubos                35670 non-null  int64
 35  furto_veiculos              35670 non-null  int64
 36  furto_transeunte            35670 non-null  int64
 37  furto_coletivo              35670 non-null  int64
 38  furto_celular               35670 non-null  int64
 39  furto_bicicleta             18281 non-null  float64
 40  outros_furtos               35670 non-null  int64
 41  total_furtos                35670 non-null  int64
 42  sequestro                   35670 non-null  int64
 43  extorsao                    35670 non-null  int64
 44  sequestro_relampago         35670 non-null  int64
 45  estelionato                 35670 non-null  int64
 46  apreensao_drogas            35670 non-null  int64
 47  posse_drogas                31024 non-null  float64
 48  trafico_drogas              31024 non-null  float64
 49  apreensao_drogas_sem_autor  31024 non-null  float64
 50  recuperacao_veiculos        35670 non-null  int64
 51  apf                         31024 non-null  float64
 52  aaapai                      31024 non-null  float64
 53  cmp                         31024 non-null  float64
 54  cmba                        31024 non-null  float64
 55  ameaca                      35670 non-null  int64
 56  pessoas_desaparecidas       35670 non-null  int64
 57  encontro_cadaver            35670 non-null  int64
 58  encontro_ossada             35670 non-null  int64
 59  pol_militares_mortos_serv   35670 non-null  int64
 60  pol_civis_mortos_serv       35670 non-null  int64
 61  registro_ocorrencias        35670 non-null  int64
 62  fase                        35670 non-null  int64
 63  Todos_roubos                35670 non-null  float64
 64  Todos_furtos                35670 non-null  int64
dtypes: datetime64[ns](2), float64(11), int64(50), object(2)
memory usage: 17.7+ MB

In [8]:
baseDP['mes_ano'] = baseDP['mes_ano'].astype(str).str.replace('m', '-')

In [60]:
baseDP2 = baseDP

In [9]:
baseDP['ano'] = pd.to_datetime(baseDP['ano'], format='%Y')
baseDP['mes_ano'] = pd.to_datetime(baseDP['mes_ano'], format='%Y-%m')

In [10]:
baseDP['ano'] = baseDP['ano'].dt.year

In [125]:
baseDP = baseDP.drop(columns=['cmp', 'mes', 'total_furtos', 'total_roubos'])

In [ ]:
baseDP['Todos_roubos'] = baseDP[['roubo_transeunte', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua', 'roubo_veiculo', 'roubo_carga', 'roubo_residencia', 'roubo_comercio', 'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque', 'roubo_apos_saque', 'outros_roubos']].sum(axis=1)
baseDP['Todos_furtos'] = baseDP[['furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular', 'outros_furtos']].sum(axis=1)

In [ ]:
baseDP.head(10)

,cisp,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,lesao_corp_morte,...,recuperacao_veiculos,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,Todos_roubos,Todos_furtos
0,1,2003-01-01,2003-01-01,5,1,Rio de Janeiro,3304557,Capital,0,0,...,5,21,2,0,0,0,0,578,166.0,169
1,4,2003-01-01,2003-01-01,5,1,Rio de Janeiro,3304557,Capital,3,0,...,7,15,6,0,1,0,0,441,133.0,115
2,5,2003-01-01,2003-01-01,5,1,Rio de Janeiro,3304557,Capital,3,0,...,10,47,2,1,0,0,0,637,187.0,216
3,6,2003-01-01,2003-01-01,1,1,Rio de Janeiro,3304557,Capital,6,0,...,77,26,2,1,0,0,0,473,199.0,90
4,7,2003-01-01,2003-01-01,1,1,Rio de Janeiro,3304557,Capital,4,0,...,9,10,1,3,0,0,0,147,60.0,35
5,9,2003-01-01,2003-01-01,2,1,Rio de Janeiro,3304557,Capital,1,1,...,20,36,3,0,0,0,0,554,168.0,268
6,10,2003-01-01,2003-01-01,2,1,Rio de Janeiro,3304557,Capital,1,0,...,19,40,2,3,0,0,0,593,165.0,290
7,12,2003-01-01,2003-01-01,19,1,Rio de Janeiro,3304557,Capital,2,0,...,6,48,3,0,0,0,0,620,178.0,256
8,13,2003-01-01,2003-01-01,19,1,Rio de Janeiro,3304557,Capital,0,0,...,14,26,1,0,0,0,0,455,113.0,217
9,14,2003-01-01,2003-01-01,23,1,Rio de Janeiro,3304557,Capital,0,0,...,12,43,2,2,0,0,0,636,160.0,311

In [64]:
baseDP['Todos_roubos'] = baseDP['Todos_roubos'].astype(int)

In [ ]:
baseDP['ano'] = pd.to_datetime(baseDP['ano'], format='%Y')

In [ ]:
baseDP = pd.to_datetime(baseDP['mes_ano']).dt.month

In [ ]:
baseDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35670 entries, 0 to 35669
Data columns (total 52 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cisp                       35670 non-null  int64
 1   ano                        35670 non-null  datetime64[ns]
 2   mes_ano                    35670 non-null  datetime64[ns]
 3   aisp                       35670 non-null  int64
 4   risp                       35670 non-null  int64
 5   munic                      35670 non-null  object
 6   mcirc                      35670 non-null  int64
 7   regiao                     35670 non-null  object
 8   hom_doloso                 35670 non-null  int64
 9   lesao_corp_morte           35670 non-null  int64
 10  latrocinio                 35670 non-null  int64
 11  cvli                       35670 non-null  int64
 12  hom_por_interv_policial    35670 non-null  int64
 13  letalidade_violenta        35670 non-null  int64
 14  tentat_hom                 35670 non-null  int64
 15  lesao_corp_dolosa          35670 non-null  int64
 16  estupro                    35670 non-null  int64
 17  hom_culposo                35670 non-null  int64
 18  lesao_corp_culposa         35670 non-null  int64
 19  roubo_transeunte           35670 non-null  int64
 20  roubo_celular              35670 non-null  int64
 21  roubo_em_coletivo          35670 non-null  int64
 22  roubo_rua                  35670 non-null  int64
 23  roubo_veiculo              35670 non-null  int64
 24  roubo_carga                35670 non-null  int64
 25  roubo_comercio             35670 non-null  int64
 26  roubo_residencia           35670 non-null  int64
 27  roubo_banco                35670 non-null  int64
 28  roubo_cx_eletronico        35651 non-null  float64
 29  roubo_conducao_saque       35670 non-null  int64
 30  roubo_apos_saque           35670 non-null  int64
 31  outros_roubos              35670 non-null  int64
 32  furto_veiculos             35670 non-null  int64
 33  furto_transeunte           35670 non-null  int64
 34  furto_coletivo             35670 non-null  int64
 35  furto_celular              35670 non-null  int64
 36  outros_furtos              35670 non-null  int64
 37  sequestro                  35670 non-null  int64
 38  extorsao                   35670 non-null  int64
 39  sequestro_relampago        35670 non-null  int64
 40  estelionato                35670 non-null  int64
 41  apreensao_drogas           35670 non-null  int64
 42  recuperacao_veiculos       35670 non-null  int64
 43  ameaca                     35670 non-null  int64
 44  pessoas_desaparecidas      35670 non-null  int64
 45  encontro_cadaver           35670 non-null  int64
 46  encontro_ossada            35670 non-null  int64
 47  pol_militares_mortos_serv  35670 non-null  int64
 48  pol_civis_mortos_serv      35670 non-null  int64
 49  registro_ocorrencias       35670 non-null  int64
 50  Todos_roubos               35670 non-null  float64
 51  Todos_furtos               35670 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(46), object(2)
memory usage: 14.2+ MB

In [ ]:
'''Qual é a distribuição de crimes violentos (hom_doloso, lesao_corp_morte, latrocinio) ao longo dos meses (mes) e anos (ano)?'''

crimes_violentos = baseDP[['hom_doloso', 'lesao_corp_morte', 'latrocinio']]

resultado1 = crimes_violentos.groupby([baseDP['ano'], baseDP['mes_ano']]).sum()

print(resultado1)

                       hom_doloso  lesao_corp_morte  latrocinio
ano        mes_ano
2003-01-01 2003-01-01         589                 6          20
           2003-02-01         583                 4          12
           2003-03-01         613                 5          16
           2003-04-01         585                11          14
           2003-05-01         599                 6          20
...                           ...               ...         ...
2024-01-01 2024-09-01         226                 7           8
           2024-10-01         230                 5          13
           2024-11-01         252                 5           9
           2024-12-01         304                13          10
2025-01-01 2025-01-01         312                10           6

[265 rows x 3 columns]

In [86]:
'''Há valores faltantes nas colunas de crimes violentos? Como tratá-los?'''
crimes_violentos.isna().sum()

hom_doloso          0
lesao_corp_morte    0
latrocinio          0
dtype: int64

In [ ]:
'''Qual é a proporção de crimes contra o patrimônio (Todos_roubos, Todos_furtos) em relação aos crimes violentos?'''

soma_crimes_patrimonio = baseDP[['Todos_roubos', 'Todos_furtos']].sum().sum()

soma_crimes_violentos = baseDP[['hom_doloso', 'lesao_corp_morte', 'latrocinio']].sum().sum()

resultado2 = soma_crimes_patrimonio / soma_crimes_violentos

print(f'A proporção de crimes contra o patrimônio em relação aos crimes violentos é: {resultado2:.2f}')

A proporção de crimes contra o patrimônio em relação aos crimes violentos é: 74.05

In [ ]:
'''Agrupe os dados por risp e calcule a média de hom_por_interv_policial. Qual risp tem a maior média?'''

media_hom_por_interv_policial = baseDP.groupby('risp')['hom_por_interv_policial'].mean()

risp_maior_media = media_hom_por_interv_policial.idxmax()
maior_media = media_hom_por_interv_policial.max()

print(f'A RISP com a maior média de hom_por_interv_policial é: {risp_maior_media} com uma média de {maior_media:.2f}')

A RISP com a maior média de hom_por_interv_policial é: 2 com uma média de 1.41

In [ ]:
'''Agrupe os dados por munic e calcule a soma de furto_celular. Qual município tem o maior número de furto_celular?'''

soma_roubo_bic_munic = baseDP.groupby('munic')['furto_celular'].sum()

munic_mais_roubos = soma_roubo_bic_munic.idxmax()  #idxmax retorna o INDÍCE do maior valor

print(f'O município que tem o maior número de furto_celular é: {munic_mais_roubos}')

O município que tem o maior número de furto_celular é: Rio de Janeiro

In [ ]:
'''Qual é o município (munic) com o maior número de homicídios dolosos (hom_doloso) em um ano específico?'''

ano_especifico = 2023
ano_filtro = baseDP2[baseDP['ano'] == ano_especifico]

soma_munic_hom_doloso = baseDP.groupby('munic')['hom_doloso'].sum()

munic_mais_hom_doloso = soma_munic_hom_doloso.idxmax()
quantidade_max_homicidios = soma_munic_hom_doloso.max()

print(f'O ano com mais homícidios doloso foi em {ano_especifico} no munícipio do {munic_mais_hom_doloso} com total de {quantidade_max_homicidios}.')

O ano com mais homícidios doloso foi em 2023 no munícipio do Rio de Janeiro com total de 34618.

In [ ]:
populacao_munic_IBGE.rename(columns={'Ano': 'Quantidade'}, inplace=True)
populacao_munic_IBGE.rename(columns={'Município': 'munic'}, inplace=True)

In [162]:
populacao_munic_IBGE.isna().sum()
populacao_munic_IBGE.dropna(inplace=True)

In [163]:
populacao_munic_IBGE.head()

                    Município Quantidade
0                   Município       2024
1  Alta Floresta D'Oeste (RO)      22853
2              Ariquemes (RO)     108573
3                 Cabixi (RO)       5690
4                 Cacoal (RO)      97637

In [165]:
populacao_munic_IBGE = populacao_munic_IBGE[pd.to_numeric(populacao_munic_IBGE['Quantidade'], errors='coerce').notnull()]

populacao_munic_IBGE['Quantidade'].fillna(0, inplace=True)

populacao_munic_IBGE['Quantidade'] = populacao_munic_IBGE['Quantidade'].astype(int)

print(populacao_munic_IBGE.head())

                    Município  Quantidade
0                   Município        2024
1  Alta Floresta D'Oeste (RO)       22853
2              Ariquemes (RO)      108573
3                 Cabixi (RO)        5690
4                 Cacoal (RO)       97637

C:\Users\conta\AppData\Local\Temp\ipykernel_16564\1929372782.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  populacao_munic_IBGE['Quantidade'].fillna(0, inplace=True)

In [179]:
populacao_munic_IBGE.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5571 entries, 0 to 5570
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   munic       5571 non-null   object
 1   Quantidade  5571 non-null   int32
dtypes: int32(1), object(1)
memory usage: 108.8+ KB

In [181]:
'''Qual região (regiao) tem a maior taxa de roubos de celulares (roubo_celular) por habitante?'''

roubo_celular_por_regiao = baseDP.groupby('regiao')['roubo_celular'].sum()

populacao_por_regiao = populacao_munic_IBGE.groupby('munic')['Quantidade'].sum()

taxa_roubo_celular_por_habitante = roubo_celular_por_regiao / populacao_por_regiao

regiao_maior_taxa = taxa_roubo_celular_por_habitante.idxmax()
maior_taxa = taxa_roubo_celular_por_habitante.max()

print(f'A região com a maior taxa de roubos de celulares por habitante é: {regiao_maior_taxa} com uma taxa de {maior_taxa:.2f}')

A região com a maior taxa de roubos de celulares por habitante é: nan com uma taxa de nan

C:\Users\conta\AppData\Local\Temp\ipykernel_16564\577011452.py:9: FutureWarning: The behavior of Series.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  regiao_maior_taxa = taxa_roubo_celular_por_habitante.idxmax()

In [ ]:
baseDP.to_csv('baseDP_modificado.csv', index=False)